.Card {
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid;
    margin: 0px 5px 15px 5px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 300px;
    height: 280px;
}

.Title {
    padding: 5px 5px;
    display: flex;
    justify-content: center;
}

.Content {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
    flex-grow: 1; /* Aqui eu to fazendo ele pegar todo o conteudo disponivel no flexbox que foi habilitado no pai Card*/
}